$light: #f3f4f7;
$grey: #9d9d9d;
$blue: #6ca2a4;
$white: #f2f6fa;
$black: #20262e;
$background-light: #f3f4f7;
$background-dark: #393E46;
$text-color-dark: #f2f6fa;
$text-color-primary: #20262e;
$text-color-second: #9d9d9d;
